<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Mes réseaux sociaux</h2>
                    <p>Je fais du développement web et du design web en tant que Freelancer, mais de nombreuses autres choses m'intéressent aussi ! Suivez moi sur mes réseaux afin d'être au courant de mes autres hobbies 😉</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class=""><a href="https://www.facebook.com/romanito.cadarsi"><span class="fa fa-facebook"></span></a></li>
                        <li class=""><a href="https://www.instagram.com/romaincadarsi/"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Accès rapide</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('home') }}" class="py-2 d-block">Accueil</a></li>
                        <li><a href="{{ path('bePatient') }}" class="py-2 d-block">À propos de moi</a></li>
                        <li><a href="{{ path('allPortfolio') }}" class="py-2 d-block">Mes projets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Montpellier, France</a></li>
                        <li><a href="#" class="py-2 d-block">+33 6 03 59 05 55</a></li>
                        <li><a href="#" class="py-2 d-block">dev@cadarsir.fr</a></li>
                        <li><a href="#" class="py-2 d-block">cadarsir@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved !
                </p>
            </div>
        </div>
    </div>
</footer>